.Rproj.user
.Rhistory
.RData
.Ruserdata
#
data/*

#original list
Allbrdf2013-01-01to2019-12-31.csv
Allpresp2013-01-01to2019-12-31.csv
Allst2013-01-01to2019-12-31.csv
Eth_Admin_Woreda_2019_20200205.dbf
Eth_Admin_Woreda_2019_20200205.prj
Eth_Admin_Woreda_2019_20200205.shp
Eth_Admin_Woreda_2019_20200205.shx
robust weekly malaria.csv
adjacency.rdata
curclusters.rdata
modeldata.csv
saved outputs
*.png
*.csv
modelformula.rdata
woreda_epidemia_20170207.cpg
woreda_epidemia_20170207.dbf
woreda_epidemia_20170207.prj
woreda_epidemia_20170207.sbn
woreda_epidemia_20170207.sbx
woreda_epidemia_20170207.shp
woreda_epidemia_20170207.shp.xml
woreda_epidemia_20170207.shx
woreda_epidemia_20170207.zip
report_data_2018W12am47_poisson_GAcollapsed.RData
